*
!backend/
!backend/**
!server.py
!docs/
!docs/**
!mirror/
!mirror/**
!CLIENTES/
!CLIENTES/**
!MUFFIN_FAVICON.png
!MUFFIN_ICONO.jpg
!MUFFIN_SINFONDO.png
backend/**/__pycache__/
backend/**/*.pyc
mirror/**/__pycache__/
mirror/**/*.pyc
